@font-face {font-family: "The Avengers";
    src: url("44a21eecd860f09edafc460507831238.woff") format("woff"), /* chrome、firefox */
  url("44a21eecd860f09edafc460507831238.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.header {
        font-family:"The Avengers" !important;
        color: #0ccac4;
        font-weight: 700;
}